body{
    font-size: arial, "Helvetica Neue", Sans-serif;
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
}

@media (max-width: 767px){
    h1{
        color: red;
    }
    body{
        margin: 5em;
    }
}
@media (max-width: 424px){
    h1{
        color: rgb(38, 0, 255);
    }
    p{
        text-align: left;
    }
}
@media (max-width: 319px){
    h1{
        background-color: deeppink;
        color: rgb(0, 247, 255);
    }
}

